In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf
from misc import preprocessing, normalization, predict
import pickle

In [12]:
weights = [[0, 0], 
                [0.050, 0.002], [0.050, 0.004], [0.050, 0.008], 
                [0.075, 0.002], [0.075, 0.004], [0.075, 0.008],
                [0.100, 0.002], [0.100, 0.004], [0.100, 0.008], [0.1, 0.016],
                                                [0.2  , 0.008], [0.2, 0.016],
                                                                        [0.4, 0.032],
                                                                                [0.8, 0.064]]

In [13]:
a1vals = np.unique(np.array(weights)[:,0])
a3vals = np.unique(np.array(weights)[:,1])

In [14]:
L1trn = pd.DataFrame('x',index=a1vals,columns=a3vals)
L2trn = pd.DataFrame('x',index=a1vals,columns=a3vals)
L3trn = pd.DataFrame('x',index=a1vals,columns=a3vals)


for a1, a3 in weights:
    model_name = 'P1C1_s_a1_{p1}_a3_{p3}'.format(p1=a1,p3=a3)
    dataset_name = 'P1C1_s'
    
    with open('savednet/'+model_name+'_history.pkl', 'rb') as f:
        [total_loss, sigma_loss, symmetry_loss, convexity_loss, Psi_loss] = pickle.load(f)

    ndata = 165
    L1trn.at[a1,a3]=Psi_loss[-1]/ndata*1000
    L2trn.at[a1,a3]=sigma_loss[-1]/ndata*1000
    L3trn.at[a1,a3]=(symmetry_loss[-1] + convexity_loss[-1])/ndata*1000
    pass

In [15]:
L1trn.style.set_caption("$\mathcal{{L}}_1$ in training set for $a_1 \in {a1}$ and $a_3 \in {a3}$".format(a1=a1vals, a3=a3vals))
L1trn.style.set_caption("L1 in training set (cols: a1, rows: a3)")

In [16]:
L2trn.style.set_caption("$\mathcal{{L}}_2$ in training set for $a_1 \in {a1}$ and $a_3 \in {a3}$".format(a1=a1vals, a3=a3vals))
L2trn.style.set_caption("L2 in training set (cols: a1, rows: a3)")

In [17]:
L3trn.style.set_caption("$\mathcal{{L}}_3$ in training set for $a_1 \in {a1}$ and $a_3 \in {a3}$".format(a1=a1vals, a3=a3vals))
L3trn.style.set_caption("L3 in training set (cols: a1, rows: a3)")

## DNN Size

In [11]:
nns = ['P1C1_s_4485', 'P1C1_s_44885', 'P1C1_s_448885', 'P1C1_s_44445', 'P1C1_s_44885','P1C1_s_4816165']
print('Total loss           Sigma loss (L_2)')
for nn in nns:
    with open('savednet/{name}_history.pkl'.format(name=nn), 'rb') as f:
        history = pickle.load(f)
        loss, sigma, symmetry, convexity, Psi = history
        print(loss[-1], sigma[-1])

Total loss           Sigma loss (L_2)
0.052746355533599854 0.020119549403655422
0.04610744118690491 0.010310445732568573
0.06644479185342789 0.013539029457762681
0.1723918318748474 0.04861178196088406
0.04610744118690491 0.010310445732568573
0.041356079280376434 0.011208129252812588